<%- include('../includes/head.ejs') %>
   </head>

   <body>

      <%- include('../includes/navigation.ejs') %>

         <main>
            <% if( products.length> 0 ) {%>
               <ul>
                  <% products.forEach(p=> { %>

                     <li>
                        <p>
                           <%= p.title %> (<%= p.cartItem.quantity %>)
                                 <form action="/cart-delete-item" method="POST">
                                    <input type="hidden" , value="<%= p.id %>" name="productId">

                                    <button class="button" type="submit"> Delete</button>

                                 </form>
                        </p>
                     </li>
                     <% }) %>
               </ul>
<hr/>
               <div class="centered">

                  <form action="/create-order" method="POST">
                     <button class="btn" type="submit"> Order Now </button>

               </div>


               </form>

               <% } else { %>
                  <h1> No products in Cart!</h1>
                  <% } %>
         </main>


         <%- include('../includes/end.ejs') %>